.callout-type-summary,
.callout-type-todo,
.callout-type-question {
    border: rgba(0, 176, 255, 0.3) 1px solid;
    background-color: rgba(0, 176, 255, 0.1);
}

.callout-type-info,
.callout-type-success {
    border: rgba(0, 200, 83, 0.3) 1px solid;
    background-color: rgba(0, 200, 83, 0.1);
}

.callout-type-attention,
.callout-type-danger {
    border: rgba(255, 145, 0, 0.3) 1px solid;
    background-color: rgba(255, 145, 0, 0.1);
}

.callout-type-bug,
.callout-type-failure {
    border: rgba(255, 0, 0, 0.3) 1px solid;
    background-color: rgba(255, 0, 0, 0.1);
}

.callout-type-note,
.callout-type-quote {
    border: rgba(158, 158, 158, 0.3) 1px solid;
    background-color: rgba(158, 158, 158, 0.1);
}

.callout-block {
    /* disable margin-collapse on inner elements to create space between inner elements and the border */
    overflow: auto;

    /* white-space below and above the block */
    -webkit-margin-before: 1rem;
    margin-block-start: 1rem;
    -webkit-margin-after: 1rem;
    margin-block-end: 1rem;
    border-radius: 12px;
}

.callout-title-section .callout-type-summary,
.callout-title-section .callout-type-todo,
.callout-title-section .callout-type-question {
    background-color: rgba(0, 176, 255, 0.3);
}

.callout-title-section .callout-type-info,
.callout-title-section .callout-type-success {
    background-color: rgba(0, 200, 83, 0.3);
}

.callout-title-section .callout-type-attention,
.callout-title-section .callout-type-danger {
    background-color: rgba(255, 145, 0, 0.3);
}

.callout-title-section .callout-type-failure {
    background-color: rgba(255, 0, 0, 0.3);
}

.callout-title-section .callout-type-note,
.callout-title-section .callout-type-quote {
    background-color: rgba(158, 158, 158, 0.3);
}

.callout-title-section {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 1rem;
}

.callout-title {
    font-weight: 600;
    font-size: 1.1rem;
}

.callout-content-section {
    padding: 0.2rem 1rem 0;
}


/* remove default marker of details, which is before the element, and move it after the element */

.callout-title-section::marker {
    display: none;
}

.callout-title-section::-webkit-details-marker {
    display: none;
}

.callout-collapsible .callout-title::after {
    content: ' ►';
}

.callout-collapsible[open] .callout-title::after {
    content: " ▼";
}
